:root {
  --text: #FFFFFF;
  --highlight: #C1B052;
  --hightlight_dark:#5E5629;
  --dominant:#222222;
  --dominant_1:#333333;
  --dominant_2:#444444;
  --dominant_3:#555555;
  --dominant_4:#666666;
  --error: #864E4E;
}

body{
  background-color: var(--dominant);
  font-family: 'Roboto Mono', monospace;
  display: flex;
  transition: background-color 0.5s ease;
}

#vertical-menu{
  background-color: var(--highlight);
  width: 80px;
  height: 100vh;
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  padding: 10px;
  transition: all 0.2s;
}

.menu_button{
  text-decoration: none;
  border:none;
  display:block;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 50px;
  margin-left: 10px;
}

.menu_button:hover > p{
  text-decoration: underline;
}

#vertical-menu:hover{
  width:220px;
}

.menu_label{
  display:inline;
  padding:10px;
  margin: 5px;
  font-size: 1.3em;
}

.menu_button > img{
  width: 30px;
}


.mainContent{
  flex: 1;
  display: inline-block;
  width: 70%;
  height: 100vh;
  padding: 30px;
  
}

.mainContent > .container-fluid{
  background-color: var(--dominant_1);
  border-radius: 20px;
  color: var(--text);
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.scrollable-div::-webkit-scrollbar {
  width: 0; /* Hide the scroll bar on Webkit (Chrome, Safari) */
}

div.mainContent > div.container-fluid > .row{
  height: fit-content;
  margin-right: 50px;
  margin-left: 50px;
}

#page_title_row{
  height: fit-content;
  display: flex;
  /* top left bottom right */
  margin-top:20px;
  margin-bottom:40px;
  margin-left: 20px;
  position:sticky;
}

.fixed-width {
  width: 11ch;
}

.stretch-width {
  flex: 1;
}

h1{
  color: var(--highlight);
}

#search_bar{
  all:unset;
  background-color: transparent; 
  color: var(--highlight);
  border: none;
  border-left: 2px solid var(--highlight);
  border-bottom: 2px solid var(--highlight);
  height: 80%; 
  width: 100%;
  font-size: 1.5rem;
  margin-top: 2px;
}



#button-row button{
  all: unset;
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  background-color: var(--dominant_2);
  width: 70%;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  color: var(--highlight);
  width:15ch;
}
#button-row > :first-child{
  display: flex; /* Use flexbox for centering */
  justify-content: start; /* Center content horizontally */
  align-items:start; /* Center content vertically */
  padding-left: 0%;
}
#button-row > :last-child{
  display: flex; /* Use flexbox for centering */
  justify-content: end; /* Center content horizontally */
  align-items:end; /* Center content vertically */
  padding-right: 0%;
}

#filter-dropdown{
  border: none;
  background-color: var(--dominant_2);
  color: var(--highlight);
  
}

select:focus{
  border:none;
  outline:none;
}

#column-titles{
  margin-top:30px;
  border-bottom: 1px solid var(--highlight);
  
  background-color: var(--dominant_1);
}

#column-titles > :last-child{
  width:160px;
  flex:none;
}

.table-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--hightlight_dark);
  padding:5px 0px;
}

span {
  flex:1;
  margin:0px;
  height:fit-content;
  display: flex;
  text-align: left;
}

.part-image{
  height: 35px;
  margin-left: 30px;
}

input[type="checkbox"]{
  background-color: transparent;
  border: solid 1px var(--dominant_3);
}

.part-button-container{
  width: 160px;
  flex:none;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

a {
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  /* Additional styles for the link if needed */
}

.part-button-container a{
  display:flex;
  opacity:0;
  flex:1;
  width:34px;
  height:34px;
  padding:2px;
  margin:0px;
  border: none;
  border-radius: 18px;
  background-color: var(--dominant_3);
  outline:none;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: opacity 1s ease;
  transition: background-color 0.3s ease;
}

.table-row:hover a
{
  opacity: 100%;
}

.table-row:hover a:hover{
  background-color: var(--dominant_4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

a img{
  width: 60%;
}

.part-detail-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--hightlight_dark);
  padding:5px 0px;
}



#table-details-row{
  background-color:var(--dominant_2);
  border-radius: 20px;
  margin-right: 30px;
  margin-left: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#table-details-row  div.table-row{
  margin-right:9px;
  margin-left:9px;
}

#table-details-row > .container > *:not(:first-child){ 
  margin:2px 20px;
}

#table-details-row a{ /*always show the buttons*/
opacity:1;
}

.details-image{
width:80px;
}

.data-container{
  margin:0px 8px;
  margin-bottom:4px;
  padding:0px;
  border-bottom:solid 1px var(--highlight);
}

.data-label{
  font-size: 12px;
  display:block;
}

.data-entry{
  /* remove all default styling */ 
  background:transparent;
  outline: none;
  border:none;
  padding:0px;
    
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis;
  color:var(--text);
}


.name-width{
  width:13ch;
}

.value-width{
  width:10ch
}

.footprint-width{
  width:6ch;
}

.quantity-width{
  width:5ch;
}

.rating-width{
  width:5ch;
}

.group-width{
  width:15ch;
}

.location-width{
  width:8ch;
}

.tags-width{
  width:30ch;
}

.sku-width{
  width:6ch;
}

.price-width{
  width:10ch;
}

.warningstock-width{
  width:10ch;
}

.datasheett-width, .source-width{
  width: 20ch;
}

.data-container select{
  border: none;
  background-color: var(--dominant_2);
  color: var(--text);
}

.save-button{
  all:unset;
  background-color: var(--dominant_3);
  padding:0px 40px;
  border-radius:20px;
  height:40px;
  color:var(--highlight);

}
[data-theme="dark"] {
  --text: #000000;
  --highlight: #d4c87d;
  --hightlight_dark:#5E5629;
  --dominant:#EEEEEE;
  --dominant_1:#DDDDDD;
  --dominant_2:#CCCCCC;
  --dominant_3:#BBBBBB;
  --dominant_4:#AAAAAA;
  --error: #864E4E;
}
/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #333333;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #b7b7b7;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Hide the scrollbar */
.div-with-scrollbar {
  scrollbar-width: thin; /* Hide the scrollbar in Firefox */
  scrollbar-color: transparent transparent; /* Hide the scrollbar in Firefox */
  -webkit-scrollbar-width: thin; /* Hide the scrollbar in WebKit browsers */
  -webkit-scrollbar-thumb: none; /* Hide the scrollbar in WebKit browsers */
}

/* Customize the scrollbar track (optional) */
.div-with-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Customize the scrollbar thumb (optional) */
.div-with-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
}

.scroll-container {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scroll-container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
