<div class="container">
  <div class="row">
    <div class="col-12 homeHeader">
      Dashboard
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 goldBorder">
      <div class="container part_list_header">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-6  part_list_header_button">
            <button type="button" class="noMargin" onclick="filterResistor()"> 
              R
            </button>
          </div>
          <div class="col-lg-2  col-md-4  col-6  part_list_header_button">
            <button type="button" class="noMargin" onclick="filterCapacitor()">
              C
            </button>
          </div>
          <div class="col-lg-2  col-md-4 col-6  part_list_header_button">
            <button type="button" class="noMargin">
              sort
            </button> 
          </div>
          <div class="col-lg-2  col-md-4 col-6  part_list_header_button">
            <button type="button" class="noMargin">
              bom search
            </button>
          </div>
          <div class="col-lg-2  col-md-4 col-6  part_list_header_button">
            <button type="button" class="noMargin" onclick="newPart()">
              new
            </button>
          </div>
          <div class="col-lg-2 col-md-4  col-6  part_list_header_button">
            <button type="button" class="noMargin" onclick="deletePart()">
              delete
            </button>
          </div>
        </div>
      </div>
      <form id="part_search_form">
        <input type="text" id="part_search" name="fname" oninput="search()">
      </form>
      <div class="container" id="parts-list">
        {{part_list}}
      </div>
    </div>
    <div class="col-4 goldBorder">
      <div id="part_entry" class="container part_list_header">
        <div class="row">
          <div class="col-6  part_list_header_button">
            <button type="button" class="noMargin" onclick="savePart()">
              Save
            </button>
          </div>
          <div class="col-6  part_list_header_button">
            <button type="button" class="noMargin">
              Add field
            </button>
          </div>
        </div>
        <div id="part_forms">
        </div>
      </div>
    </div>
  </div>
</div>