<div class="container">
    <div class="row">
        <div class="col-12 homeHeader">
            Dashboard
        </div>
    </div>
    <div class="row">
        <div class="col-6 subPageContainer">
            <div class="whiteBorder">
                row1col1
            </div>
        </div>
        <div class="col-6 subPageContainer">
            <div class="whiteBorder" id = "">
                row1col2
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4 subPageContainer">
            <div class="whiteBorder">
                row2col1
            </div>
        </div>
        <div class="col-4 subPageContainer">
            <div class="whiteBorder" >
                row2col2
            </div>
        </div>
        <div class="col-4 subPageContainer">
            <div class="whiteBorder" >
                row2col3
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 subPageContainer">
            <div class="whiteBorder">
                row3col1
            </div>
        </div>
        <div class="col-3 subPageContainer">
            <div class="whiteBorder">
                row3col2
            </div>
        </div>
        <div class="col-3 subPageContainer">
            <div class="whiteBorder">
                row3col3
            </div>
        </div>
        <div class="col-3 subPageContainer">
            <div class="whiteBorder">
                row3col4
            </div>
        </div>
    </div>
</div>