<!doctype html>
<html lang="en">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">
  <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.min.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <title>Pogo</title>
</head>

<body>

  <div id="vertical-menu" onmouseover="showMenuTitles()" onmouseleave="hideMenuTitles()">
    <button type="button" class="menu_button">
      <img src="../static/images/icons/pogo.png" alt="logo" id="logo" />
    </button>
    
    <button type="button" class="menu_button">
      <img src="../static/images/icons/home.png" alt="logo" id="home_icon" />
      <p class="menu_label">home</p>
    </button>
    <button type="button" class="menu_button">
      <img src="../static/images/icons/inventory.png" alt="logo" id="inventory_icon" />
      <p class="menu_label">inventory</p>
    </button>
    <button type="button" class="menu_button">
      <img src="../static/images/icons/categories.png" alt="logo" id="categories_icon" />
      <p class="menu_label">categories</p>
    </button>
    <button type="button" class="menu_button"><img src="../static/images/icons/settings.png" alt="logo"
        id="settings_icon" />
      <p class="menu_label">settings</p>
    </button>
    <div class="theme-switch-wrapper float-end">
      <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
    </label>
  </div>
  </div>
  <div class="mainContent">
    <div class="container-fluid scroll-container" id="mainContentContainer">
      <div class="row" id="page_title_row">
        <h1 class="col-3 fixed-width">inventory</h1>
        <div class="col-8 stretch-width" id="search_container">
          <input type="text" name="textbox" id="search_bar" value="search">
        </div>
      </div>
      <div class="row" id="button-row">
        <div class="col-2">
          <button>
            <select id="filter-dropdown" name="fruit">
              <option value="apple">in stock</option>
              <option value="banana">low stock</option>
              <option value="cherry">price</option>
              <option value="orange">oldest</option>
              <option value="strawberry">newest</option>
            </select>
          </button>
        </div>
        <div class="col-2">
          <button>
            + filter
          </button>
        </div>
        <div class="col-6">
        </div>
        <div class="col-2">
          <button>
            + part
          </button>
        </div>
      </div>
      <div class="row sticky" id="column-titles">
        <span> </span>
        <span>#SKU</span>
        <span>Name</span>
        <span>Value</span>
        <span>Footprint</span>
        <span>Quantity</span>
        <span>Rating</span>
        <span>Group</span>
        <span>Location</span>
        <span> </span>
      </div>
      <div class="row table-row"  >
        <span>
          <input type="checkbox" class="part-checkbox">
          <img src="../static/images/0402.jpg" alt="logo" class="part-image" />
        </span>
        <span>
          21
        </span>
        <span>
          Resistor
        </span>
        <span>
          10k
        </span>
        <span>
          0402
        </span>
        <span>
          200
        </span>
        <span>
          16V
        </span>
        <span>
          Passives
        </span>
        <span>
          Grid
        </span>
        <span class="part-button-container">
          <div>
            <a href="https://www.digikey.com/en/products/detail/murata-electronics/GRM0335C1E100JA01D/4358173"
              target="_blank">
              <img src="../static/images/icons/launch.png" alt="launch" />
            </a>
          </div>
          <div>
            <a href="https://search.murata.co.jp/Ceramy/image/img/A01X/G101/ENG/GRM0335C1E100JA01-01.pdf"
              target="_blank">
              <img src="../static/images/icons/datasheet.png" alt="launch" />
            </a>
          </div>
          <div>
            <a href="https://www.example.com" target="_blank">
              <img src="../static/images/icons/trash.png" alt="launch" />
            </a>
          </div>
        </span>
      </div>

      <div class="row" id="table-details-row">
        <div class="container">
          <div class="row table-row">
            <span>
              <input type="checkbox" class="part-checkbox">
              <img src="../static/images/0402.jpg" alt="logo" class="part-image" />
            </span>
            <span>
              21
            </span>
            <span>
              Resistor
            </span>
            <span>
              10k
            </span>
            <span>
              0402
            </span>
            <span>
              200
            </span>
            <span>
              16V
            </span>
            <span>
              Passives
            </span>
            <span>
              Grid
            </span>
            <span class="part-button-container">
              <div>
                <a href="https://www.example.com" target="_blank">
                  <img src="../static/images/icons/launch.png" alt="launch" />
                </a>
              </div>
              <div>
                <a href="https://www.example.com" target="_blank">
                  <img src="../static/images/icons/datasheet.png" alt="launch" />
                </a>
              </div>
              <div>
                <a href="https://www.example.com" target="_blank">
                  <img src="../static/images/icons/trash.png" alt="launch" />
                </a>
              </div>
            </span>
          </div>
          <div class="row">
            <div class="col-md-auto">
              <img src="../static/images/0402.jpg" alt="logo" class="details-image" />
              <div class="row">
                add image
              </div>
            </div>
            <div class="col">
              <div class="row">
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_Name">Name</label>
                  <input class="name-width data-entry" type="text" name="textbox" id="object_43_Name" value="Resistor">
                </div>
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_Value">Value</label>
                  <input class="value-width data-entry" type="text" name="textbox" id="object_43_Value" value="23.5k">
                </div>
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_Footprint">Footprint</label>
                  <input class="footprint-width data-entry" type="text" name="textbox" id="object_43_Footprint"
                    value="0805">
                </div>
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_Quantity">Quantity</label>
                  <input class="quantity-width data-entry" type="text" name="textbox" id="object_43_Quantity"
                    value="456">
                </div>
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_Rating">Rating</label>
                  <input class="rating-width data-entry" type="text" name="textbox" id="object_43_Rating" value="16V">
                </div>
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_group">Group</label>
                  <!-- <input class= "group-width data-entry" type="text" name="textbox" id="object_43_group" value="none"> -->
                  <select class="group-width data-entry" id="group-dropdown" name="fruit">
                    <option value="apple">in stock</option>
                    <option value="banana">low stock</option>
                    <option value="cherry">price</option>
                    <option value="orange">oldest</option>
                    <option value="strawberry">newest</option>
                  </select>
                </div>
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_location">Location</label>
                  <input class="location-width data-entry" type="text" name="textbox" id="object_43_location"
                    value="grid">
                </div>
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_tags">Tags</label>
                  <input class="tags-width data-entry" type="text" name="textbox" id="object_43_tags" value="none">
                </div>
              </div>
              <div class="row">
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_sku">SKU</label>
                  <input class="sku-width data-entry" type="text" name="textbox" id="object_43_sku" value="21">
                </div>
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_price">Price</label>
                  <input class="price-width data-entry" type="text" name="textbox" id="object_43_price"
                    value="$0.0064:50">
                </div>
                <div class="col-auto data-container">
                  <label class="data-label" for="object_43_warningstock">Warning Stock</label>
                  <input class="price-width data-entry" type="text" name="textbox" id="object_43_warningstock"
                    value="2">
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="row">
                    <div class="col-auto data-container">
                      <label class="data-label" for="object_43_warningstock">Source</label>
                      <input class="source-width data-entry" type="text" name="textbox" id="object_43_source"
                        value="https://example.com">
                    </div>
                    <div class="col-auto data-container">
                      <label class="data-label" for="object_43_datasheet">Datasheet</label>
                      <input class="datasheet-width data-entry" type="text" name="textbox" id="object_43_datasheet"
                        value="https://example.com">
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-12 col-md-12">
                  <div id="graph-container">
                    <canvas id="myChart">
                    </canvas>
                  </div>
                </div> 
              </div>
              <div class="row">
                <div class="col">
                  <button class="float-end save-button">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
      

    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='dark_mode_switch.js') }}"></script>
</body>

</html>