<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">

  <title>Pogo</title>
</head>

<body>

  <div id="vertical-menu" onmouseover="showMenuTitles()" onmouseleave="hideMenuTitles()">
    <button type="button" class="menu_button">
      <img src="../static/images/icons/pogo.png" alt="logo" id="logo" />
    </button>
    <button type="button" class="menu_button">
      <img src="../static/images/icons/home.png" alt="logo" id="home_icon" />
      <p class="menu_label">home</p>
    </button>
    <button type="button" class="menu_button">
      <img src="../static/images/icons/inventory.png" alt="logo" id="inventory_icon" />
      <p class="menu_label">inventory</p>
    </button>
    <button type="button" class="menu_button">
      <img src="../static/images/icons/categories.png" alt="logo" id="categories_icon" />
      <p class="menu_label">categories</p>
    </button>
    <button type="button" class="menu_button"><img src="../static/images/icons/settings.png" alt="logo"
        id="settings_icon" />
      <p class="menu_label">settings</p>
    </button>
  </div>

  <div class="mainContent">
    <div class="container-fluid">
      <div class="row" id="page_title_row">
        <h1 class="col-3 fixed-width">inventory</h1>
        <div class="col-8 stretch-width" id="search_container">
          <input type="text" name="textbox" id="search_bar" value="search">
        </div>
      </div>
      <div class="row" id="button-row">
        <div class="col-2">
          <button>
            <select id="filter-dropdown" name="fruit">
              <option value="apple">in stock</option>
              <option value="banana">low stock</option>
              <option value="cherry">price</option>
              <option value="orange">oldest</option>
              <option value="strawberry">newest</option>
            </select>
          </button>
        </div>
        <div class="col-2">
          <button>
            + filter
          </button>
        </div>
        <div class="col-6">
        </div>
        <div class="col-2">
          <button>
            + part
          </button>
        </div>
      </div>
      <div class="row" id="column-titles">
        <div class="col-12">
          <span>
            
          </span>
          <span>
            #SKU
          </span>
          <span>
            Name
          </span>
          <span>
            Value
          </span>
          <span>
            Footprint
          </span>
          <span>
            Quantity
          </span>
          <span>
            Rating
          </span>
          <span>
            Group
          </span>
          <span>
            Location
          </span>
        </div>
      </div>
      
    </div>
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>