<div class="row" id="page_title_row">
    <h1 class="col-3 fixed-width">inventory</h1>
    <div class="col-8 stretch-width" id="search_container">
      <input type="text" name="textbox" id="search_bar" value="search">
    </div>
  </div>
  <div class="row" id="button-row">
    <div class="col-2">
      <button>
        <select id="filter-dropdown" name="fruit">
          <option value="apple">in stock</option>
          <option value="banana">low stock</option>
          <option value="cherry">price</option>
          <option value="orange">oldest</option>
          <option value="strawberry">newest</option>
        </select>
      </button>
    </div>
    <div class="col-2">
      <button>
        + filter
      </button>
    </div>
    <div class="col-6">
    </div>
    <div class="col-2">
      <button>
        + part
      </button>
    </div>
  </div>
  <div class="row sticky" id="column-titles">
    <span> </span>
    <span>#SKU</span>
    <span>Name</span>
    <span>Value</span>
    <span>Footprint</span>
    <span>Quantity</span>
    <span>Rating</span>
    <span>Group</span>
    <span>Location</span>
    <span> </span>
  </div>